/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.background {
  background: rgb(52,166,251);
  border-spacing: 0;
}
.background td {
  padding:0;
}
.lava {
  background: rgb(255,100,100);
}
.wall {
  background: white;
}
.actor {
  position: absolute;
}
.coin {
  background: rgb(244,229,89);
}
.player {
  background: blue;
}
.lost .player {
  background: rgb(160,64,64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}